* {
    color: #666666;
}

.container {
    margin-bottom: 50px;
}

.jumboHead,
.cardHead {
    background-color: lightblue;
}

h1 {
    color: darkgray;
}

h2,
.cardHead,
.btn {
    color: white;
}

.btn {
    background-color: darkgray;
}

